html {
    height: 100%;
    background: url("../pic/1j6F.gif");
    background-size: 200px 200px;
/*
    background: url("%D0%BC%D0%B0%D1%82%D1%80%D0%B8%D1%86%D0%B0%203.gif");
    background-size: 1000px 500px;
*/
        
        
}

.d {
    background-color: white;
    width: 1100px;
    height: 2260px;
    margin: auto;
    padding: 0px;
    border-radius: 20px;
    
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-top: 25px;
}

.body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#description {
    display:inline-flex;
    height: auto;
    margin: 10px 10px;
}

.table {
    margin: auto;
    
}
.des {
    
    align-items: center;
    border-radius: 20px;
    background: #F5F5DC;
    border: solid 1px black;
    display: grid;
    padding: 20px;
}


.ul {
    text-align:center;
}

.h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

.scale {
    transition: 1s;
    opacity: 0.65;
    margin: 10px 17px 15px;
   }
.scale:hover {
    transform: scale(1.2);
    opacity: 1;
}
.im {
    position: fixed; 
    right: 5px; 
    top: 0px; 
    
    z-index: 999;
}

.p {
    margin-top: 0.5em; 
    margin-bottom: 1em; 
   }


#footer {
    text-align:center;
}

.table1 {
    border-spacing: 20px 11px;
    margin: auto;
}
